In [74]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import os

In [75]:
browser = webdriver.Chrome()
url = 'https://finance.naver.com/sise/sise_market_sum.naver?&page='

# 브라우저 최대화
# browser.maximize_window()

# 사이트 이동
browser.get(url)

In [76]:
# 조회 항목 초기화
checkboxes = browser.find_elements(By.NAME,'fieldIds')
for checkbox in checkboxes:
    if checkbox.is_selected(): # 선택이 되었다면
        checkbox.click()
        
# 3. 조회 항목 설정 (원하는 항목)
items_to_select = ['영업이익','자산총계','매출액']
# 실제로 체크할 항목을 보면 영업이익(억)과 같이 적혀있지만 (억)은 별도로 적혀 있음 
# html 구성상을 보고 판단해야함 .

# checkbox
for checkbox in checkboxes:
    parent = checkbox.find_element(By.XPATH,'..') # 부모 엘리먼트 td를 찾게 됨
    label = parent.find_element(By.TAG_NAME,'label') # td 엘리먼트 안에 label 엘리먼트를 찾음
    # print(label.text) # 이름확인하기 위해 하는것
    if label.text in items_to_select: # 선택항목과 일치한다면
        checkbox.click() # 항목 체크

In [77]:
# 적용하기 버튼 클릭
# 방법 1 xpath 로 구하기
# # 네이버 메인화면 -> 개발자 도구 -> 누를 버튼을 개발자도구 태그 찾는걸로 누르고
# # href 있는 태그를 우클릭해서 xpath 복사하기를 한다.
# btn_apply = browser.find_element(By.XPATH,'//*[@id="contentarea_left"]/div[2]/form/div/div/div/a[1]')
# btn_apply.click()

# 방법 2 href로 찾기
# <a href="javascript:fieldSubmit()"> 와 같이 자바스크립트로 명시되어 있으므로
# 시작에 // => 전체 html 문서에서 찾겠다

btn_apply = browser.find_element(By.XPATH,'//a[@href="javascript:fieldSubmit()"]')
btn_apply.click()

In [78]:
# 데이터 추출
# 판다스의 read_html 을 이용해 편하게 가져오기
df = pd.read_html(browser.page_source)

In [79]:
len(df) # df가 몇개의 테이블을 가져오나 확인

3

In [80]:
df[0] # 확인해보면, 옵션 선택하는 부분임 => 이부분은 우리가 원하는 부분이 아님

     0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)

In [81]:
df[1] # 우리가 원하는 정보임

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익,토론실,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,71000.0,1600.0,-2.20%,100.0,3022314.0,4484245.0,433766.0,NaN,NaN,NaN,NaN
2,2.0,SK하이닉스,131000.0,1100.0,-0.83%,5000.0,446216.0,1038715.0,68094.0,NaN,NaN,NaN,NaN
3,3.0,LG에너지솔루션,390000.0,10500.0,-2.62%,500.0,255986.0,382994.0,12137.0,NaN,NaN,NaN,NaN
4,4.0,삼성바이오로직스,756000.0,10000.0,-1.31%,2500.0,30013.0,165821.0,9836.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,TIGER CD금리투자KIS(합성),53670.0,5.0,+0.01%,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,50.0,아모레퍼시픽,121300.0,1500.0,-1.22%,500.0,41349.0,58018.0,2142.0,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df = pd.read_html(browser.page_source)[1] # 필요한 데이터만 가져옴
df

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익,토론실,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,71000.0,1600.0,-2.20%,100.0,3022314.0,4484245.0,433766.0,NaN,NaN,NaN,NaN
2,2.0,SK하이닉스,131000.0,1100.0,-0.83%,5000.0,446216.0,1038715.0,68094.0,NaN,NaN,NaN,NaN
3,3.0,LG에너지솔루션,390000.0,10500.0,-2.62%,500.0,255986.0,382994.0,12137.0,NaN,NaN,NaN,NaN
4,4.0,삼성바이오로직스,756000.0,10000.0,-1.31%,2500.0,30013.0,165821.0,9836.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,TIGER CD금리투자KIS(합성),53670.0,5.0,+0.01%,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,50.0,아모레퍼시픽,121300.0,1500.0,-1.22%,500.0,41349.0,58018.0,2142.0,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
df.head(20) 
# 데이터를 확인해보면 처음에 nan 있고 중간중간에 nan이 3줄씩 있음
# 데이터를 정제해줘야함

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익,토론실,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,71000.0,1600.0,-2.20%,100.0,3022314.0,4484245.0,433766.0,NaN,NaN,NaN,NaN
2,2.0,SK하이닉스,131000.0,1100.0,-0.83%,5000.0,446216.0,1038715.0,68094.0,NaN,NaN,NaN,NaN
3,3.0,LG에너지솔루션,390000.0,10500.0,-2.62%,500.0,255986.0,382994.0,12137.0,NaN,NaN,NaN,NaN
4,4.0,삼성바이오로직스,756000.0,10000.0,-1.31%,2500.0,30013.0,165821.0,9836.0,NaN,NaN,NaN,NaN
5,5.0,삼성전자우,58300.0,800.0,-1.35%,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6.0,셀트리온,178000.0,9500.0,-5.07%,1000.0,22840.0,58917.0,6472.0,NaN,NaN,NaN,NaN
10,7.0,현대차,181800.0,4400.0,-2.36%,5000.0,1425275.0,2557425.0,98198.0,NaN,NaN,NaN,NaN
11,8.0,NAVER,219000.0,11000.0,-4.78%,100.0,82201.0,338990.0,13047.0,NaN,NaN,NaN,NaN
12,9.0,POSCO홀딩스,419000.0,18500.0,-4.23%,5000.0,847502.0,984068.0,48501.0,NaN,NaN,NaN,NaN
13,10.0,기아,87900.0,1900.0,-2.12%,5000.0,865590.0,737110.0,72331.0,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11.0,LG화학,408500.0,23500.0,-5.44%,5000.0,518649.0,679738.0,29957.0,NaN,NaN,NaN,NaN
18,12.0,삼성SDI,379000.0,16000.0,-4.05%,5000.0,201241.0,302575.0,18080.0,NaN,NaN,NaN,NaN
19,13.0,카카오,57500.0,2100.0,-3.52%,100.0,71068.0,229635.0,5803.0,NaN,NaN,NaN,NaN

In [84]:
df.dropna(axis=0,how='all',inplace=True)
# 행기준으로 삭제, 
# how = 'all' => 모든 행이 NaN이면 삭제, any면 하나라도 NaN이면 삭제

In [85]:
df 
# 최대 6개까지 데이터를 갖고 있다고 생각했는데 3개만 골라서 3개는 빈 테이블이 있음
# 이건 네이버 개발자가 이렇게 코드를 짜놔서 그럼. 그리고 토론실도 그냥 이동하는거라 비어있음
# 따라서 이것도 데이터 정제를 해줘야함

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익,토론실,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,1.0,삼성전자,71000.0,1600.0,-2.20%,100.0,3022314.0,4484245.0,433766.0,NaN,NaN,NaN,NaN
2,2.0,SK하이닉스,131000.0,1100.0,-0.83%,5000.0,446216.0,1038715.0,68094.0,NaN,NaN,NaN,NaN
3,3.0,LG에너지솔루션,390000.0,10500.0,-2.62%,500.0,255986.0,382994.0,12137.0,NaN,NaN,NaN,NaN
4,4.0,삼성바이오로직스,756000.0,10000.0,-1.31%,2500.0,30013.0,165821.0,9836.0,NaN,NaN,NaN,NaN
5,5.0,삼성전자우,58300.0,800.0,-1.35%,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6.0,셀트리온,178000.0,9500.0,-5.07%,1000.0,22840.0,58917.0,6472.0,NaN,NaN,NaN,NaN
10,7.0,현대차,181800.0,4400.0,-2.36%,5000.0,1425275.0,2557425.0,98198.0,NaN,NaN,NaN,NaN
11,8.0,NAVER,219000.0,11000.0,-4.78%,100.0,82201.0,338990.0,13047.0,NaN,NaN,NaN,NaN
12,9.0,POSCO홀딩스,419000.0,18500.0,-4.23%,5000.0,847502.0,984068.0,48501.0,NaN,NaN,NaN,NaN
13,10.0,기아,87900.0,1900.0,-2.12%,5000.0,865590.0,737110.0,72331.0,NaN,NaN,NaN,NaN
17,11.0,LG화학,408500.0,23500.0,-5.44%,5000.0,518649.0,679738.0,29957.0,NaN,NaN,NaN,NaN
18,12.0,삼성SDI,379000.0,16000.0,-4.05%,5000.0,201241.0,302575.0,18080.0,NaN,NaN,NaN,NaN
19,13.0,카카오,57500.0,2100.0,-3.52%,100.0,71068.0,229635.0,5803.0,NaN,NaN,NaN,NaN
20,14.0,포스코퓨처엠,288500.0,15000.0,-4.94%,500.0,33019.0,46375.0,1659.0,NaN,NaN,NaN,NaN
21,15.0,삼성물산,117000.0,2300.0,-1.93%,100.0,431617.0,589815.0,25285.0,NaN,NaN,NaN,NaN
25,16.0,KB금융,49800.0,1300.0,-2.54%,5000.0,888959.0,7011708.0,56389.0,NaN,NaN,NaN,NaN
26,17.0,현대모비스,205500.0,7500.0,-3.52%,5000.0,519063.0,554067.0,20265.0,NaN,NaN,NaN,NaN
27,18.0,신한지주,36550.0,300.0,-0.81%,5000.0,354133.0,6758843.0,58881.0,NaN,NaN,NaN,NaN
28,19.0,에코프로머티,226500.0,3000.0,+1.34%,500.0,6652.0,6349.0,390.0,NaN,NaN,NaN,NaN
29,20.0,LG전자,91300.0,3300.0,-3.49%,5000.0,834673.0,551561.0,35510.0,NaN,NaN,NaN,NaN
33,21.0,HMM,20300.0,400.0,-1.93%,5000.0,185828.0,259735.0,99516.0,NaN,NaN,NaN,NaN
34,22.0,카카오뱅크,29000.0,1450.0,-4.76%,5000.0,16058.0,395161.0,3532.0,NaN,NaN,NaN,NaN
35,23.0,삼성에스디에스,165100.0,2600.0,-1.55%,500.0,172347.0,119524.0,9161.0,NaN,NaN,NaN,NaN
36,24.0,삼성생명,61100.0,1300.0,-2.08%,500.0,403310.0,3161659.0,13866.0,NaN,NaN,NaN,NaN
37,25.0,한국전력,18980.0,260.0,-1.35%,5000.0,712579.0,2348050.0,-326552.0,NaN,NaN,NaN,NaN
41,26.0,하나금융지주,41300.0,250.0,-0.60%,5000.0,708438.0,5688732.0,46903.0,NaN,NaN,NaN,NaN
42,27.0,메리츠금융지주,59000.0,2100.0,-3.44%,500.0,703656.0,927572.0,22009.0,NaN,NaN,NaN,NaN
43,28.0,SK이노베이션,117900.0,4500.0,-3.68%,5000.0,780569.0,672189.0,39173.0,NaN,NaN,NaN,NaN
44,29.0,삼성화재,243500.0,6500.0,-2.60%,500.0,257844.0,882243.0,16061.0,NaN,NaN,NaN,NaN
45,30.0,LG,72200.0,3000.0,-3.99%,5000.0,71860.0,296337.0,19414.0,NaN,NaN,NaN,NaN
49,31.0,KT&G,84500.0,1100.0,-1.29%,5000.0,58514.0,123017.0,12676.0,NaN,NaN,NaN,NaN
50,32.0,SK,153000.0,5200.0,-3.29%,200.0,1345516.0,1945059.0,80047.0,NaN,NaN,NaN,NaN
51,33.0,SK텔레콤,49400.0,300.0,+0.61%,100.0,173050.0,313083.0,16121.0,NaN,NaN,NaN,NaN
52,34.0,삼성전기,138600.0,7900.0,-5.39%,5000.0,94246.0,109972.0,11828.0,NaN,NaN,NaN,NaN
53,35.0,HD현대중공업,113900.0,5000.0,-4.21%,5000.0,90455.0,162894.0,-2892.0,NaN,NaN,NaN,NaN
57,36.0,고려아연,451500.0,12500.0,-2.69%,5000.0,112194.0,120979.0,9192.0,NaN,NaN,NaN,NaN
58,37.0,우리금융지주,12450.0,80.0,-0.64%,5000.0,423727.0,4804744.0,44305.0,NaN,NaN,NaN,NaN
59,38.0,두산에너빌리티,14570.0,660.0,-4.33%,5000.0,154211.0,230498.0,11061.0,NaN,NaN,NaN,NaN
60,39.0,하이브,223500.0,5000.0,-2.19%,500.0,17762.0,48704.0,2369.0,NaN,NaN,NaN,NaN
61,40.0,기업은행,11580.0,10.0,+0.09%,5000.0,275361.0,4319797.0,37748.0,NaN,NaN,NaN,NaN
65,41.0,크래프톤,186000.0,9000.0,-4.62%,100.0,18540.0,60303.0,7516.0,NaN,NaN,NaN,NaN
66,42.0,포스코DX,58800.0,400.0,-0.68%,500.0,11527.0,8516.0,647.0,NaN,NaN,NaN,NaN
67,43.0,포스코인터내셔널,50500.0,1100.0,-2.13%,5000.0,379896.0,125163.0,9025.0,NaN,NaN,NaN,NaN
68,44.0,KT,33300.0,150.0,+0.45%,5000.0,256500.0,409807.0,16901.0,NaN,NaN,NaN,NaN
69,45.0,대한항공,22100.0,550.0,-2.43%,5000.0,140961.0,289977.0,28306.0,NaN,NaN,NaN,NaN
73,46.0,HD한국조선해양,104400.0,4900.0,-4.48%,5000.0,173020.0,298835.0,-3556.0,NaN,NaN,NaN,NaN
74,47.0,카카오페이,55000.0,1900.0,-3.34%,500.0,5217.0,33315.0,-455.0,NaN,NaN,NaN,NaN
75,48.0,S-Oil,64700.0,900.0,-1.37%,2500.0,424460.0,196131.0,34052.0,NaN,NaN,NaN,NaN
76,49.0,TIGER CD금리투자KIS(합성),53670.0,5.0,+0.01%,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,50.0,아모레퍼시픽,121300.0,1500.0,-1.22%,500.0,41349.0,58018.0,2142.0,NaN,NaN,NaN,NaN

In [86]:
df.dropna(axis=1,how='all',inplace=True)
df

,N,종목명,현재가,전일비,등락률,액면가,매출액,자산총계,영업이익
1,1.0,삼성전자,71000.0,1600.0,-2.20%,100.0,3022314.0,4484245.0,433766.0
2,2.0,SK하이닉스,131000.0,1100.0,-0.83%,5000.0,446216.0,1038715.0,68094.0
3,3.0,LG에너지솔루션,390000.0,10500.0,-2.62%,500.0,255986.0,382994.0,12137.0
4,4.0,삼성바이오로직스,756000.0,10000.0,-1.31%,2500.0,30013.0,165821.0,9836.0
5,5.0,삼성전자우,58300.0,800.0,-1.35%,100.0,NaN,NaN,NaN
9,6.0,셀트리온,178000.0,9500.0,-5.07%,1000.0,22840.0,58917.0,6472.0
10,7.0,현대차,181800.0,4400.0,-2.36%,5000.0,1425275.0,2557425.0,98198.0
11,8.0,NAVER,219000.0,11000.0,-4.78%,100.0,82201.0,338990.0,13047.0
12,9.0,POSCO홀딩스,419000.0,18500.0,-4.23%,5000.0,847502.0,984068.0,48501.0
13,10.0,기아,87900.0,1900.0,-2.12%,5000.0,865590.0,737110.0,72331.0
17,11.0,LG화학,408500.0,23500.0,-5.44%,5000.0,518649.0,679738.0,29957.0
18,12.0,삼성SDI,379000.0,16000.0,-4.05%,5000.0,201241.0,302575.0,18080.0
19,13.0,카카오,57500.0,2100.0,-3.52%,100.0,71068.0,229635.0,5803.0
20,14.0,포스코퓨처엠,288500.0,15000.0,-4.94%,500.0,33019.0,46375.0,1659.0
21,15.0,삼성물산,117000.0,2300.0,-1.93%,100.0,431617.0,589815.0,25285.0
25,16.0,KB금융,49800.0,1300.0,-2.54%,5000.0,888959.0,7011708.0,56389.0
26,17.0,현대모비스,205500.0,7500.0,-3.52%,5000.0,519063.0,554067.0,20265.0
27,18.0,신한지주,36550.0,300.0,-0.81%,5000.0,354133.0,6758843.0,58881.0
28,19.0,에코프로머티,226500.0,3000.0,+1.34%,500.0,6652.0,6349.0,390.0
29,20.0,LG전자,91300.0,3300.0,-3.49%,5000.0,834673.0,551561.0,35510.0
33,21.0,HMM,20300.0,400.0,-1.93%,5000.0,185828.0,259735.0,99516.0
34,22.0,카카오뱅크,29000.0,1450.0,-4.76%,5000.0,16058.0,395161.0,3532.0
35,23.0,삼성에스디에스,165100.0,2600.0,-1.55%,500.0,172347.0,119524.0,9161.0
36,24.0,삼성생명,61100.0,1300.0,-2.08%,500.0,403310.0,3161659.0,13866.0
37,25.0,한국전력,18980.0,260.0,-1.35%,5000.0,712579.0,2348050.0,-326552.0
41,26.0,하나금융지주,41300.0,250.0,-0.60%,5000.0,708438.0,5688732.0,46903.0
42,27.0,메리츠금융지주,59000.0,2100.0,-3.44%,500.0,703656.0,927572.0,22009.0
43,28.0,SK이노베이션,117900.0,4500.0,-3.68%,5000.0,780569.0,672189.0,39173.0
44,29.0,삼성화재,243500.0,6500.0,-2.60%,500.0,257844.0,882243.0,16061.0
45,30.0,LG,72200.0,3000.0,-3.99%,5000.0,71860.0,296337.0,19414.0
49,31.0,KT&G,84500.0,1100.0,-1.29%,5000.0,58514.0,123017.0,12676.0
50,32.0,SK,153000.0,5200.0,-3.29%,200.0,1345516.0,1945059.0,80047.0
51,33.0,SK텔레콤,49400.0,300.0,+0.61%,100.0,173050.0,313083.0,16121.0
52,34.0,삼성전기,138600.0,7900.0,-5.39%,5000.0,94246.0,109972.0,11828.0
53,35.0,HD현대중공업,113900.0,5000.0,-4.21%,5000.0,90455.0,162894.0,-2892.0
57,36.0,고려아연,451500.0,12500.0,-2.69%,5000.0,112194.0,120979.0,9192.0
58,37.0,우리금융지주,12450.0,80.0,-0.64%,5000.0,423727.0,4804744.0,44305.0
59,38.0,두산에너빌리티,14570.0,660.0,-4.33%,5000.0,154211.0,230498.0,11061.0
60,39.0,하이브,223500.0,5000.0,-2.19%,500.0,17762.0,48704.0,2369.0
61,40.0,기업은행,11580.0,10.0,+0.09%,5000.0,275361.0,4319797.0,37748.0
65,41.0,크래프톤,186000.0,9000.0,-4.62%,100.0,18540.0,60303.0,7516.0
66,42.0,포스코DX,58800.0,400.0,-0.68%,500.0,11527.0,8516.0,647.0
67,43.0,포스코인터내셔널,50500.0,1100.0,-2.13%,5000.0,379896.0,125163.0,9025.0
68,44.0,KT,33300.0,150.0,+0.45%,5000.0,256500.0,409807.0,16901.0
69,45.0,대한항공,22100.0,550.0,-2.43%,5000.0,140961.0,289977.0,28306.0
73,46.0,HD한국조선해양,104400.0,4900.0,-4.48%,5000.0,173020.0,298835.0,-3556.0
74,47.0,카카오페이,55000.0,1900.0,-3.34%,500.0,5217.0,33315.0,-455.0
75,48.0,S-Oil,64700.0,900.0,-1.37%,2500.0,424460.0,196131.0,34052.0
76,49.0,TIGER CD금리투자KIS(합성),53670.0,5.0,+0.01%,0.0,NaN,NaN,NaN
77,50.0,아모레퍼시픽,121300.0,1500.0,-1.22%,500.0,41349.0,58018.0,2142.0

In [87]:
# 데이터를 처음에 받아올때는 위에 종목명 현재가 같은 헤더 부분을 가져오고
# 2페이지부터는 헤더를 제외하고 가져오면 됨

# 파일 저장
# f_name = 'sise.csv'
# if os.path.exists(f_name): #파일이 있다면? 헤더 제외
#     df.to_csv(f_name,encoding='utf-8-sig',index=False,mode='a',header=False)
#     # mode = 'a' => append 뒤에 추가해라라는 의미
# else : # 파일이 없다면
#     df.to_csv(f_name,encoding='utf-8-sig',index=False)
#     # 아무것도 안적어주면 쓰기모드에 헤더를 넣어줌
# print(f'{idx} 페이지 완료')

In [88]:
# 실제로 반복을 돌 부분
f_name = 'sise.csv'

for idx in range(1,40):
    # 사전 작업 : 페이지 이동
    browser.get(url + str(idx))
    
    df = pd.read_html(browser.page_source)[1]
    df.dropna(axis=0,how='all',inplace=True)
    df.dropna(axis=1,how='all',inplace=True)
    
     # 만약 df가 비어있으면 반복문 탈출
    if len(df) == 0:
        break
    
    
    
    # 파일 저장
    if os.path.exists(f_name): #파일이 있다면? 헤더 제외
        df.to_csv(f_name,encoding='utf-8-sig',index=False,mode='a',header=False)
        # mode = 'a' => append 뒤에 추가해라라는 의미
    else : # 파일이 없다면
        df.to_csv(f_name,encoding='utf-8-sig',index=False)
        #아무것도 안적어주면 쓰기모드에 헤더를 넣어줌  
        print(f'{idx} 페이지 완료')

browser.close()

1 페이지 완료