# 1. DEFINE A PANDAS SERIES (WITH NUMERIC DEFAULT INDEX)

In [1]:
# Pandas is a data manipulation and analysis tool that is built on Numpy.
# Pandas uses a data structure known as DataFrame (think of it as Microsoft excel in Python). 
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows and columns).
# Series Vs. DataFrame? Series is considered a single column of a DataFrame.

In [2]:
import pandas as pd

In [3]:
# Let's define a Python list that contains 5 stocks: Nvidia, Microsoft, FaceBook, Amazon, and Boeing
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [4]:
# Let's confirm the Datatype
type(my_list)

list

In [5]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that series is formed of data and associated index (numeric index has been automatically generated) 
# Check Pandas Documentation for More information: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series
# Object datatype is used for text data (String)
series_1 = pd.Series(data=my_list)
series_1

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [6]:
# Let's confirm the Pandas Series Datatype
type(series_1)

pandas.core.series.Series

In [7]:
# Let's define another Pandas Series that contains numeric values (stock prices) instead of text data
# Note that we have int64 datatype which means it's integer stored in 64 bits in memory
series_2 = pd.Series(data=[100, 200, 500, 1000, 5000])
series_2

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

**MINI CHALLENGE #1:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite movies. Confirm the datatype of "my_series"**

In [8]:
my_series = pd.Series(data=['영화1', '영화2', '영화3'])
print(my_series)
print(type(my_series))

0    영화1
1    영화2
2    영화3
dtype: object
<class 'pandas.core.series.Series'>

# 2. DEFINE A PANDAS SERIES WITH CUSTOM INDEX

In [9]:
# Let's define a Python list that contains 5 stocks: Nvidia, Microsoft, FaceBook, Amazon, and Boeing
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [10]:
# Let's define a python list as shown below. This python list will be used for the Series index:
my_labels = ['stock#1', 'stock#2', 'stock#3', 'stock#4', 'stock#5']

In [11]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that this series is formed of data and associated labels 
series_3 = pd.Series(data=my_list, index=my_labels)

In [12]:
# Let's view the series
series_3

stock#1    NVDA
stock#2    MSFT
stock#3      FB
stock#4    AMZN
stock#5      BA
dtype: object

In [13]:
# Let's obtain the datatype
type(series_3)

pandas.core.series.Series

**MINI CHALLENGE #2:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite movies. Instead of using default numeric indexes (similar to mini challenge #1), use the following indexes "movie #1", "Movie #2", and "movie #3"**

In [14]:
movie_list = ['영화1', '영화2', '영화3']
movie_label = ['movie#1', 'movie#2', 'movie#3']
my_series = pd.Series(data=movie_list, index=movie_label)

In [15]:
my_series

movie#1    영화1
movie#2    영화2
movie#3    영화3
dtype: object

# 3. DEFINE A PANDAS SERIES FROM A DICTIONARY

In [16]:
# A Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys
# Define a dictionary named "my_dict" using key-value pairs
my_dict = {'Bank Client Id': 111,
           'Bank Client Name': 'Steve',
           'Net Worth [$]': 3500,
           'Years with Bank': 9}

In [17]:
# Show the dictionary
my_dict

{'Bank Client Id': 111,
 'Bank Client Name': 'Steve',
 'Net Worth [$]': 3500,
 'Years with Bank': 9}

In [18]:
# Confirm the dictionary datatype 
type(my_dict)

dict

In [19]:
# Let's define a Pandas Series Using the dictionary
series_4 = pd.Series(my_dict)
series_4

Bank Client Id        111
Bank Client Name    Steve
Net Worth [$]        3500
Years with Bank         9
dtype: object

**MINI CHALLENGE #3:**
- **Create a Pandas Series from a dictionary with 3 of your favourite stocks and their corresponding prices**

In [20]:
my_stock_dict = {'삼성전자':3500,
                 'sk':2000,
                 '비트코인':5000}
my_stock = pd.Series(my_stock_dict)
my_stock

삼성전자    3500
sk      2000
비트코인    5000
dtype: int64

# 4. PANDAS ATTRIBUTES

In [21]:
# Attributes/Properties: do not use parantheses "()" and are used to get Pandas Series Properties. Ex: my_series.values, my_series.shape
# Methods: use parantheses "()" and might include arguments and they actually alter/change the Pandas Series. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()
# Indexers: use square brackets "[]" and are used to access specific elements in a Pandas Series or DataFrame. Ex: my_series.loc[], my_series.iloc[]

# Let's redefine a Pandas Series containing our favourite 5 stocks 
# Nvidia, Microsoft, FaceBook, Amazon, and Boeing
series_1

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [22]:
# ".Values" attribute is used to return Series as ndarray depending on its dtype
# Check this for more information: https://pandas.pydata.org/docs/reference/api/pandas.Series.values.html#pandas.Series.values
series_1.values

array(['NVDA', 'MSFT', 'FB', 'AMZN', 'BA'], dtype=object)

In [23]:
# index is used to return the index (axis labels) of the Series
series_1.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
# dtype is used to return the datatype of the Series ('O' stands for 'object' datatype)
series_1.dtype

dtype('O')

In [25]:
# Check if all elements are unique or not
series_1.is_unique

True

In [26]:
# Check the shape of the Series
# note that a Series is one dimensional
series_1.shape

(5,)

**MINI CHALLENGE #4:** 
- **What is the size of the Pandas Series? (External Research for the proper attribute is Required)**

In [27]:
series_1.size

5

# 5. PANDAS METHODS

In [28]:
# Methods have parentheses and they actually alter/change the Pandas Series
# Methods: use parantheses "()" and might include arguments. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()

# Let's define another Pandas Series that contains numeric values (stock prices) instead of text data
# Note that we have int64 datatype which means it contains integer values stored in 64 bits in memory
my_series = pd.Series(data=[100,200,500,1000,5000])
my_series

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [29]:
# Let's obtain the sum of all elements in the Pandas Series
my_series.sum()

6800

In [30]:
# Let's obtain the multiplication of all elements in the Pandas Series
my_series.product()

50000000000000

In [31]:
# Let's obtain the average
my_series.mean()

1360.0

In [32]:
# Let's show the first couple of elements in the Pandas Series
my_series.head(2)

0    100
1    200
dtype: int64

In [33]:
# Note that head creates a new dataframe 
new_series = my_series.head(3)
new_series

0    100
1    200
2    500
dtype: int64

**MINI CHALLENGE #5:** 
- **Show the last 2 rows in the Pandas Series (External Research is Required)** 
- **How many bytes does this Pandas Series consume in memory? (External Research is Required)**

In [34]:
my_series.tail(2)

3    1000
4    5000
dtype: int64

In [35]:
# 사용되고 있는 메모리
my_series.memory_usage()

172

# 6. IMPORT CSV DATA (1-D) USING PANDAS

In [87]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default (DataFrames will be covered shortly!)
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted
sp500 = pd.read_csv('../datasets/S_P500_Prices.csv')
# squeeze =>1,40부터 사용 X 
# 데이터를 압축하려면 .squeeze 함수 이용

In [88]:
sp500

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [89]:
type(sp500)

pandas.core.frame.DataFrame

**MINI CHALLENGE #6:**
- **Set Squeeze = False and rerun the cell, what do you notice? Use Type to compare both outputs**

In [90]:
sp500 = pd.read_csv('../datasets/S_P500_Prices.csv')

# 7. PANDAS BUILT-IN FUNCTIONS

In [91]:
# Pandas works great with pre-existing python functions 
# You don't have to play with pandas methods and directly leverage Python functions
# Check Python built-in functions here: https://docs.python.org/3/library/functions.html

ValueError: No axis named culumns for object type DataFrame

In [92]:
# Obtain the Data Type of the Pandas Series
type(sp500)

pandas.core.frame.DataFrame

In [93]:
# Obtain the length of the Pandas Series
len(sp500)

2159

In [94]:
# Obtain the maximum value of the Pandas Series
max(sp500) #안됨

'sp500'

In [95]:
# Obtain the minimum value of the Pandas Series
min(sp500)

'sp500'

**MINI CHALLENGE #7:**
- **Given the following Pandas Series, convert all positive values to negative using python built-in functions**
- **Obtain only unique values (ie: Remove duplicates) using python built-in functions**
- **my_series = pd.Series(data = [-10, 100, -30, 50, 100])**

In [97]:
my_series = pd.Series(data = [-10, 100, -30, 50, 100])
my_series

0    -10
1    100
2    -30
3     50
4    100
dtype: int64

In [100]:
my_series = abs(my_series)

In [101]:
list(set(my_series))

[10, 100, 50, 30]

# 8. SORTING PANDAS SERIES

In [105]:
# Let's import CSV data as follows:
sp500 = pd.read_csv('../datasets/S_P500_Prices.csv')

In [107]:
# You can sort the values in the dataframe as follows
sp500.sort_values('sp500')

            sp500
97    1278.040039
98    1278.180054
99    1285.500000
1     1289.089966
2     1293.670044
...           ...
2038  3373.229980
2034  3373.939941
2033  3379.449951
2035  3380.159912
2037  3386.149902

[2159 rows x 1 columns]

In [106]:
# Let's view Pandas Series again after sorting, Note that nothing changed in memory! you have to make sure that inplace is set to True
sp500

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [108]:
# Set inplace = True to ensure that change has taken place in memory 
sp500.sort_values(by='sp500', inplace=True) # 정렬한상태로 저장

In [109]:
# Note that now the change (ordering) took place 
sp500

            sp500
97    1278.040039
98    1278.180054
99    1285.500000
1     1289.089966
2     1293.670044
...           ...
2038  3373.229980
2034  3373.939941
2033  3379.449951
2035  3380.159912
2037  3386.149902

[2159 rows x 1 columns]

In [112]:
# Notice that the indexes are now changed 
# You can also sort by index (revert back to the original Pandas Series) as follows: 
sp500.sort_index(inplace=True)
sp500

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

**MINI CHALLENGE #8:**
- **Sort the S&P500 values in a decending order instead. Make sure to update values in-memory.**

In [116]:
sp500.sort_values('sp500',ascending=False,inplace=True)
sp500

            sp500
2037  3386.149902
2035  3380.159912
2033  3379.449951
2034  3373.939941
2038  3373.229980
...           ...
2     1293.670044
1     1289.089966
99    1285.500000
98    1278.180054
97    1278.040039

[2159 rows x 1 columns]

# 9. PERFORM MATH OPERATIONS ON PANDAS SERIES

In [117]:
# Let's import CSV data as follows:
sp500 = pd.read_csv('../datasets/S_P500_Prices.csv')

In [118]:
# Apply Sum Method on Pandas Series
sp500.sum()

sp500    4.790280e+06
dtype: float64

In [119]:
# Apply count Method on Pandas Series
sp500.count()

sp500    2159
dtype: int64

In [120]:
# Obtain the maximum value
sp500.max()

sp500    3386.149902
dtype: float64

In [121]:
# Obtain the minimum value
sp500.min()

sp500    1278.040039
dtype: float64

In [122]:
# My favourite: Describe! 
# Describe is used to obtain all statistical information in one place 
sp500.describe()

             sp500
count  2159.000000
mean   2218.749554
std     537.321727
min    1278.040039
25%    1847.984985
50%    2106.629883
75%    2705.810059
max    3386.149902

**MINI CHALLENGE #9:**
- **Obtain the average price of the S&P500 using two different methods**

In [123]:
sp500.mean()

sp500    2218.749554
dtype: float64

In [125]:
sp500.sum()/sp500.count()

sp500    2218.749554
dtype: float64

# 10. CHECK IF A GIVEN ELEMENT EXISTS IN A PANDAS SERIES

In [126]:
# Let's import CSV data as follows:
sp500 = pd.read_csv('../datasets/S_P500_Prices.csv')

In [127]:
# Check if a given number exists in a Pandas Series values
# Returns a boolean "True" or "False"
1295.500000 in sp500.values

True

In [128]:
# Check if a given number exists in a Pandas Series index
1295.500000 in sp500.index

False

In [129]:
# Note that by default 'in' will search in Pandas index and not values
1295.500000 in sp500 # default는 index

False

**MINI CHALLENGE #10:**
- **Check if the stock price 3349 exists in the sp500 Pandas Series or not**
- **Round stock prices to the nearest integer and check again**

In [131]:
3349 in sp500.values

False

In [133]:
# 값들을 반올림하고 다시 측정

sp500 = (round(sp500))
sp500

       sp500
0     1296.0
1     1289.0
2     1294.0
3     1308.0
4     1314.0
...      ...
2154  3328.0
2155  3349.0
2156  3351.0
2157  3360.0
2158  3334.0

[2159 rows x 1 columns]

In [135]:
3349 in sp500.values

True

# 11. INDEXING: OBTAIN SPECIFIC ELEMENTS FROM PANDAS SERIES

In [142]:
# Let's import CSV data as follows:
sp500 = pd.read_csv('../datasets/S_P500_Prices.csv')
sp500

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [145]:
# Obtain the first element in a Pandas Series
# Note that first element has an index 0
sp500['sp500'][0]

1295.5

In [147]:
# Obtain the last element in the Pandas Series
sp500['sp500'][2158]

3333.689941

**MINI CHALLENGE #11:**
- **Obtain the fifth element in the Pandas Series**

In [148]:
sp500['sp500'][5]

1315.380005

# 12. SLICING: OBTAIN MULTIPLE ELEMENTS FROM PANDAS SERIES

In [149]:
# Let's import CSV data as follows:
sp500 = pd.read_csv('../datasets/S_P500_Prices.csv')
sp500

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [150]:
# Slice elements from a Pandas Series
# Let's obtain elements starting from index 0 up until and not including index 5 (ie: indexes 0-4)
sp500['sp500'][0:5]

0    1295.500000
1    1289.089966
2    1293.670044
3    1308.040039
4    1314.500000
Name: sp500, dtype: float64

In [151]:
# obtain all elements starting from index 0 up until and not including index 10
sp500['sp500'][:10]

0    1295.500000
1    1289.089966
2    1293.670044
3    1308.040039
4    1314.500000
5    1315.380005
6    1316.000000
7    1314.650024
8    1326.060059
9    1318.430054
Name: sp500, dtype: float64

In [152]:
# obtain all elements starting from index 5 up until the end of the Pandas Series
sp500[5:]

            sp500
5     1315.380005
6     1316.000000
7     1314.650024
8     1326.060059
9     1318.430054
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2154 rows x 1 columns]

**MINI CHALLENGE #12:**
- **Obtain all elements in Pandas Series except for the last 3 elements**

In [153]:
sp500['sp500'][:-3]

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2151    3271.120117
2152    3294.610107
2153    3306.510010
2154    3327.770020
2155    3349.159912
Name: sp500, Length: 2156, dtype: float64

# EXCELLENT JOB!

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite movies. Confirm the datatype of "my_series"**

In [62]:
# Let's define a Python list that contains 3 top movies
my_list = ['The Godfather', 'Star Wars', 'The Wolf of Wall Street']
my_series = pd.Series(data=my_list)
my_series

0              The Godfather
1                  Star Wars
2    The Wolf of Wall Street
dtype: object

In [63]:
type(my_series)

pandas.core.series.Series

**MINI CHALLENGE #2 SOLUTION:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite movies. Instead of using default numeric indexes (similar to mini challenge #1), use the following indexes "movie #1", "Movie #2", and "movie #3"**

In [64]:
# Let's define a Python list that contains 3 movies as follows
my_list = ['The Godfather', 'Star Wars', 'The Wolf of Wall Street']

# Let's define a python list as shown below. This python list will be used for the Series index:
my_labels = ['movie #1', 'movie #2', 'movie #3']

In [65]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that this series is formed of data and associated labels 
my_series = pd.Series(data=my_list, index=my_labels)
my_series

movie #1              The Godfather
movie #2                  Star Wars
movie #3    The Wolf of Wall Street
dtype: object

**MINI CHALLENGE #3 SOLUTION:**
- **Create a Pandas Series from a dictionary with 3 of your favourite stocks and their corresponding prices**

In [66]:
stocks = {'SP500': 3000,
          'AAPL': 400,
          'TSLA': 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

In [67]:
# Let's define a Pandas Series Using the dictionary
my_series = pd.Series(stocks)
my_series

SP500    3000
AAPL      400
TSLA     2200
dtype: int64

**MINI CHALLENGE #4 SOLUTION:** 
- **What is the size of the Pandas Series? (External Research is Required)**

In [68]:
# size is used to return the size of the series
series_3.size

5

**MINI CHALLENGE #5 SOLUTION:** 
- **Show the last 2 rows in the Pandas Series (External Research is Required)** 
- **How many bytes does this Pandas Series consume in memory? (External Research is Required)**

In [69]:
my_series.tail(2)

AAPL     400
TSLA    2200
dtype: int64

In [70]:
my_series.memory_usage()

156

**MINI CHALLENGE #6 SOLUTION:**
- **Set Squeeze = False and rerun the cell, what do you notice? Use Type to compare both outputs**

In [71]:
sp500 = pd.read_csv('S&P500_Prices.csv', squeeze=False)
# Note that when you set Squeeze = False, the data is stored in a DataFrame by default. 
# DataFrame is simply used to store multi dimensional data as compares to Pandas Series that only holds 1-D dataset 
# Note that DataFrames has proper formatting when you attempt to view them as shown below 
# Note that Pandas Series has no formatting

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [72]:
sp500

NameError: name 'sp500' is not defined

In [73]:
type(sp500)

NameError: name 'sp500' is not defined

In [74]:
sp500 = pd.read_csv('S&P500_Prices.csv', squeeze=True)
type(sp500)

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

**MINI CHALLENGE #7 SOLUTION:**
- **Given the following Pandas Series, convert all positive values to negative using python built-in functions**
- **Obtain only unique values (ie: Remove duplicates) using python built-in functions**
- **my_series = pd.Series(data = [-10, 100, -30, 50, 100])**

In [75]:
my_series = pd.Series(data=[-10, 100, -30, 50, 100])
my_series

0    -10
1    100
2    -30
3     50
4    100
dtype: int64

In [76]:
abs(my_series)

0     10
1    100
2     30
3     50
4    100
dtype: int64

In [77]:
set(my_series)

{-30, -10, 50, 100}

**MINI CHALLENGE #8 SOLUTION:**
- **Sort the S&P500 values in a decending order instead. Make sure to update values in-memory.**

In [78]:
sp500.sort_values(ascending=False, inplace=True)
sp500

NameError: name 'sp500' is not defined

**MINI CHALLENGE #9 SOLUTION:**
- **Obtain the average price using two different methods**

In [79]:
# Obtain the average - Solution #1
sp500.sum() / sp500.count()

NameError: name 'sp500' is not defined

In [80]:
# Obtain the average - Solution #s
sp500.mean()

NameError: name 'sp500' is not defined

**MINI CHALLENGE #10 SOLUTION:**
- **Check if the stock price 3349 exists in the sp500 Pandas Series or not**
- **Round stock prices to the nearest integer and check again**

In [81]:
3349 in sp500.values

NameError: name 'sp500' is not defined

In [82]:
sp500 = round(sp500)
sp500

NameError: name 'sp500' is not defined

In [83]:
3349 in sp500.values

NameError: name 'sp500' is not defined

**MINI CHALLENGE #11 SOLUTION:**
- **Obtain the fifth element in the Pandas Series**

In [84]:
# Note that the fifth element has an index = 4
sp500[4]

NameError: name 'sp500' is not defined

**MINI CHALLENGE #12 SOLUTION:**
- **Obtain all elements in Pandas Series except for the last 3 elements**

In [85]:
sp500[:-3]

NameError: name 'sp500' is not defined